@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

div#central {
	background-color: black;
}

div#tables {
	height: 100%;
	width: 100%;
}

div#tables table#table {
	display: block;
	width: 1400px;
	height: 1000px;
	border: 1px solid black;
	/*margin-top: 50px;
	margin-left: 50px;*/
	border-spacing: 0px; /*No space between the ceils*/
	border-radius: 0px;
	padding: 15px;
	background-color: white;
	box-shadow: 1px 1px 10px black;
}

div#tables table#table td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	border-radius: 0px;
	font-family: sans-serif;
}

div#tables tr#colunas {
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);
}

