\<!DOCTYPE html>
<\html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial_scale=1" />
    <title>Testando</title>
            <style>
                *{
                    margin: 0px;
                    padding: 0px;
                }

                /*------MENU--------*/

                div#menu {
	                height: 65px;
	                width: 100%;
	                background-color: white;
	                position: fixed;
                }

                ul#menu {
	                display: block;
	                padding-left: 100px;
                }

                ul#menu li{
	                display: inline-block;
	                padding: 25px;
	                padding-right: 20px;
	                font-family: sans-serif;
	                font-size: 12pt;
                }

                ul#menu li#login {
	                padding-left: 250px;
                }

                ul#menu li a {
	                text-decoration: none;
	                color: rgba(0, 0, 0, 1.0);
                }


                ul#menu li a:hover {
	                color: rgba(139, 0, 190, 1.0);
                }



                /*------------FIRST BODY----------------*/

                div#first_body {
	                height: 700px;
                    width: 100%;
	                background-color: rgba(139, 0, 190, 1.0);
                }
            </style>
</head>
<body>

    <div id="central" class="div-central">

        <div id="menu" class="div-navbar">
            <ul id="menu">
                <li id="home"><a href="home.html">Home</a></li>
                <li id="pets"><a href="pets.html">Pets</a></li>
                <li id="adotantes"><a href="adotantes.html">Adotantes</a></li>
                <li id="estoque"><a href="estoque.html">Estoque</a></li>
                <li id="ajuda"><a href="ajuda.html">Ajuda</a></li>
                <li id="login"><a href="login.html"><b>Login</b></a></li>
            </ul>
        </div>

        <div id="first_body" class="first_body">

        </div>

    </div>

</body>
</\html>